_gitignore/
*.log

# mac specific
.DS_Store

# go modules
vendor

# goreleaser artifacts
dist
caddy-build
caddy-dist

# IDE files
.idea/

docs/node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
